<section class="mbr-section mbr-section-md-padding mbr-footer footer1" id="index-contacts1-0" style="background-color: rgb(46, 46, 46); padding-top: 90px; padding-bottom: 90px;">

    <div class="container">
        <div class="row">
            <div class="mbr-footer-content col-xs-4 col-md-4">
                <div><img src="assets/images/socialNetWorkSmall.png"></div>
            </div>
            <div class="mbr-footer-content col-xs-4 col-md-4">
                <p><strong>Dirección</strong>
                    <br> 1234 Calle SocialNetWork
                    <br> Ciudad, ABC CP.99999</p>
            </div>
            <div class="mbr-footer-content col-xs-4 col-md-4">
                <p><strong>Contacto</strong>
                    <br> Correo: soporte@snk.com
                    <br> Teléfono: +52 (55)-12-34-56-78</p>
            </div>
        </div>
    </div>
</section>
