<div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="form">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="closeModalUpdate" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalTitle"></h4>
                <div id="modalMessage"></div>
            </div>
            <div class="modal-body" role="form" id="modalBodyUpdate">
                <span id="spinner"></span>
            </div>
            <div class="modal-footer">

                <span id="saveAcademic" style="display:none;">
                    <button type="button" class="btn btn-black" id="saveChangesAcademicBtn">Guardar Cambios</button>
                </span>
                <span id="saveProfessional" style="display:none;">
                    <button type="button" class="btn btn-black" id="saveChangesProfessionalBtn">Guardar Cambios</button>
                </span>
                <span id="save3" style="display:none;">
                    <button type="button" class="btn btn-black" id="saveChangesCoursesBtn">Guardar Cambios</button>
                </span>
                <span id="save4" style="display:none;">
                    <button type="button" class="btn btn-black" id="saveChangesExperienceBtn">Guardar Cambios</button>
                </span>
                <span id="save5" style="display:none;">
                    <button type="button" class="btn btn-black" id="saveChangesLanguageBtn">Guardar Cambios</button>
                </span>
                <span id="save6" style="display:none;">
                    <button type="button" class="btn btn-black" id="saveChangesOtherBtn">Guardar Cambios</button>
                </span>

            </div>
        </div>
    </div>
</div>
